DISCORD_BOT_TOKEN=your_token_here
DISCORD_CLIENT_ID=your_client_id_here
DISCORD_CLIENT_SECRET=your_client_secret_here
DISCORD_CHANNEL_ID=your_channel_id_here
DISCORD_USER_ID=your_user_id_here
DISCORD_USER_NAME=your_discord_username_for_autoregistration
PORT=18000
